body {
    color: var(--body-text-color);
    background: var(--body-bkg-color);
}

body {
    --body-text-color: #222;
    --body-bkg-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body.dark-mode {
    --body-text-color: #eee;
    --body-bkg-color: #202020;
}

 .container {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1480px;
    display: grid;
    gap: 8px 30px;
    grid-template: 80px 300px 1fr 150px / 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "dark-mode-area title title ."
    "transaction-area transaction-area input-area input-area"
    "transaction-area transaction-area input-area input-area"
    "transaction-area transaction-area extra-area summary-area";
}

.container h1 {
    grid-area: title;
    border-radius: 5px;
    background: -webkit-linear-gradient(45deg, red, lightgreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode-button {
    grid-area: dark-mode-area;
}

.section-input {
    grid-area: input-area;
}

.table-container {
    grid-area: transaction-area;
}

.summary {
    grid-area: summary-area;
}

.extras {
    grid-area: extra-area;
}

#notification {
    background-color: #28a745;
    color: white;
    padding: 8px;
    margin: 40px 0 0 0px;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    position: absolute;
}

.hidden {
    display: none;
}

h1, h2 {
    /* color: #333; */
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    /* color: #555; */
}

/* The .input-group css rules beneath DO NOT work for dark-mode */

#input-form .input-group input,
#input-form .input-group select {
    color: var(--input-text-color);
    background: var(--input-bkg-color);
}

#input-form .input-group input,
#input-form .input-group select {
    --input-text-color: #0a0a0a;
    --input-bkg-color: whitesmoke;
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#input-form.dark-mode .input-group input,
#input-form.dark-mode .input-group select {
    --input-text-color: whitesmoke;
    --input-bkg-color: #333;
}

.dark-mode-button button {
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.button-group button {
    background-color: #b8beed;
    color: #333;
    border: 0.1em solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #52d761;
}

.clear-button-group button {
    background-color: black;
    color: white;
    border: none;
    margin-top: 100px;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
}

.clear-button-group button:hover {
    background-color: #FF1414;
    color: black;
}

.table-container {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #b8beed;
    color: #333;
}

/* td {
    color: #333;
} */

td button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

td button:hover {
    background-color: #e31a1a;
}

.summary {
    background-color: #b8beed;
    padding: 0px;
    border-radius: 50px;
    text-align: center;
    color: #333;
}

.summary p {
    margin: 10px 0;
    font-size: 18px;
}

.summary span {
    font-weight: bold;
}

.positive {
    color: #28a745;
}

.negative {
    color: #dc3545;
}